{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'user.page_title' | trans({}, 'user') }}{% endblock %}

{% block body %}
    <h1>{{ 'user.page_title_h1' | trans({}, 'user') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <a href="{{ path('admin_user_add') }}" class="float-end btn btn-secondary"><i class="bi bi-person-add"></i> {{ 'user.btn.new' | trans({}, 'user') }}</a>
    <p>
        {{ 'user.description' | trans({}, 'user') }} <br/>
        <i class="bi bi-info-circle"></i> {{ 'user.info' | trans({'icon': '<i class="bi bi-recycle"></i>', 'icon2': '<i class="bi bi-eye-slash"></i>'}, 'user') | raw }}
    </p>


    <div {{ vue_component('Admin/GenericGrid', {'url' : path('admin_user_load_grid_data'), 'page' : page, 'limit' : limit}) }}></div>

{% endblock %}