{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'user.my_option_title' | trans({}, 'user') }}{% endblock %}

{% block body %}
    <h1>{{ 'user.my_option_title_h1' | trans({}, 'user') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>
        {{ 'user.my_option_description' | trans({}, 'user') }} <br/>
    </p>

    {{ option_user_form() }}

    <div {{ vue_component('Admin/Option', {'url_update' : path('admin_user_ajax_update_my_option')}) }}></div>

{% endblock %}