{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'user.page_update_title' | trans({'login' : user.login}, 'user') }}{% endblock %}

{% block body %}
    <h1>{{ 'user.page_update_title_h1' | trans({'login' : user.login}, 'user') }}</h1>

    <p>{{ 'user.page_update_description' | trans({}, 'user') }}</p>

    {{ breadcrumb(breadcrumb) }}


    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}
            <div class="card border border-secondary">
                <div class="card-header text-bg-secondary">
                    {{ 'user.page_update.profil' | trans({}, 'user') }}
                </div>
                <div class="card-body">

                    {{ form_row(form.email) }}

                    {{ form_row(form.disabled) }}

                    <fieldset>
                        <legend> {{ 'user.page_update.personal_data' | trans({}, 'user') }}</legend>

                        <p>
                            <i class="bi bi-info-circle-fill"></i> {{ 'user.page_update.personal_data.description' | trans({}, 'user') }}
                        </p>

                        {{ form(form) }}
                        <p class="float-end">
                            <i>{{ 'user.page_update.last_update' | trans({}, 'user') }} {{ 'dateUpdate' }}</i></p>
                    </fieldset>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-6">
            <div class="card border border-secondary">
                <div class="card-header text-bg-secondary">
                    {{ 'user.page_update.information' | trans({}, 'user') }}
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

{% endblock %}