{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'user.page_update_title' | trans({'login' : user.login}, 'user') }}{% endblock %}

{% block body %}
    <h1>{{ 'user.page_update_title_h1' | trans({'login' : user.login}, 'user') }}</h1>

    <p>{{ 'user.page_update_description' | trans({}, 'user') }}</p>

    {{ breadcrumb(breadcrumb) }}


    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}
            <div class="card border border-secondary">
                <div class="card-header text-bg-secondary">
                    {{ 'user.page_update.profil' | trans({}, 'user') }}
                </div>
                <div class="card-body">

                    {{ form_row(form.email) }}

                    {% if isSuperAdmin is same as false %}
                        {{ form_row(form.roles) }}
                        {{ form_row(form.disabled) }}
                    {% endif %}

                    <fieldset>
                        <legend> {{ 'user.page_update.personal_data' | trans({}, 'user') }}</legend>

                        <p>
                            <i class="bi bi-info-circle-fill"></i> {{ 'user.page_update.personal_data.description' | trans({}, 'user') }}
                        </p>

                        {{ form(form) }}
                        <i class="float-end">{{ 'user.page_update.last_update' | trans({}, 'user') }} {{ diff_now(user.updateAt) }}</i>
                    </fieldset>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-6">
            <div class="card border border-secondary">
                <div class="card-header text-bg-secondary">
                    {{ 'user.page_update.information' | trans({}, 'user') }}
                </div>
                <div class="card-body">
                    <i class="bi bi-calendar-plus"></i> {{ 'user.page_update.created' | trans({}, 'user') }} : {{ diff_now(user.createdAt) }}
                    <br/>
                    <i class="bi bi-calendar-check"></i> {{ 'user.page_update.last_update' | trans({}, 'user') }} : {{ diff_now(user.updateAt) }}
                    <br />
                    <i class="bi bi-clock"></i> {{ 'user.page_update.last_connexion' | trans({}, 'user') }} : {{ diff_now(lastConnexion) }}
                </div>
            </div>

            <div class="card border border-secondary mt-3">
                <div class="card-header text-bg-secondary">
                    {{ 'user.page_update.action' | trans({}, 'user') }}
                </div>
                <div class="card-body">

                    {% if isSuperAdmin is same as false %}
                        {% if user.disabled %}
                            <div class="alert alert-warning mt-2">
                                <h5 class="alert-heading"> {{ 'user.page_update.info.warning' | trans({}, 'user') }}</h5>
                                <i class="bi bi-exclamation-triangle-fill"></i> {{ 'user.page_update.info.user_disabled' | trans({}, 'user') }}
                            </div>
                        {% else %}
                            <h6>{{ 'user.page_update.reset_password' | trans({}, 'user') }}</h6>
                            <p>{{ 'user.page_update.reset_password.description' | trans({}, 'user') }}</p>
                            <a href="#" class="btn btn-secondary">{{ 'user.page_update.reset_password.btn' | trans({}, 'user') }}</a>

                            <hr/>
                            <h6>{{ 'user.page_update.connecte_to' | trans({}, 'user') }}</h6>
                            <p>{{ 'user.page_update.connecte_to.description' | trans({'login' : user.login}, 'user') }}</p>
                            <a href="{{ path('admin_user_switch', {'user' : user.email}) }}" class="btn btn-secondary">{{ 'user.page_update.connecte_to.btn' | trans({'login' : user.login}, 'user') }}</a>
                        {% endif %}
                    {% else %}
                        <p class="text-danger">
                            <i>{{ 'user.page_update.info_role_super_admin' | trans({}, 'user') | raw }}</i></p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}