{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'mail.page_title' | trans({}, 'mail') }}{% endblock %}

{% block body %}
    <h1>{{ 'mail.page_title_h1' | trans({}, 'mail') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>{{ 'mail.description' | trans({}, 'mail') }}</p>


    <div {{ vue_component('Admin/Mail', {}) }}></div>

{% endblock %}
