{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'mail.page_title' | trans({}, 'mail') }}{% endblock %}

{% block body %}
    <h1>{{ 'mail.page_title_h1' | trans({}, 'mail') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>{{ 'mail.description' | trans({}, 'mail') }} <br />
        <i class="bi bi-info-circle"></i> {{ 'mail.info' | trans({'icon': '<i class="bi bi-send-check"></i>'}, 'mail') | raw }}
    </p>


    <div {{ vue_component('Admin/GenericGrid', {'url' : path('admin_mail_load_grid_data'), 'page' : page, 'limit' : limit}) }}></div>

{% endblock %}
