{% extends 'admin/admin_base.html.twig' %}


{% if apiToken.id is same as null %}
    {% set title = 'api_token.add.page_title' | trans({}, 'api_token') %}
    {% set titleH1 = 'api_token.add.page_title_h1' | trans({}, 'api_token') %}
    {% set description = 'api_token.add.description' | trans({}, 'api_token') %}
{% else %}
    {% set title = 'api_token.update.page_title' | trans({'id' : apiToken.id}, 'api_token') %}
    {% set titleH1 = 'api_token.update.page_title_h1' | trans({}, 'api_token') %}
    {% set description = 'api_token.update.description' | trans({}, 'api_token') %}
{% endif %}

 {% block title %}
     {{ title }}
 {% endblock %}

{% block body %}

    {{ breadcrumb(breadcrumb) }}

    <h1 class="head-title">
        <svg class="w-7 h-7 text-[var(--primary)]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path>
        </svg>
        {{ titleH1 }}
    </h1>

    <p class="text-sm text-[var(--text-secondary)] mb-3">
        {{ description }}
    </p>

    <div  {{ vue_component('Admin/System/ApiToken', {
        'pApiToken' : apiToken,
        'translate' : translate,
        'urls' : urls,
        'datas' : datas
    }) }}>
    </div >
{% endblock %}