{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'log.page_title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'log.page_title_h1' | trans }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>{{ 'log.description' | trans }}</p>


    <div {{ vue_component('Admin/Log', {'url_select' : path('admin_log_ajax_data_select_log'), 'url_load_log_file' : path('admin_log_ajax_load_log_file'), 'url_delete_file' : path('admin_log_ajax_delete_file'),
        'page' : 1, 'limit' : limit}) }}></div>

{% endblock %}
