{% extends 'admin/admin_base.html.twig' %}


{% if id is same as null %}
    {% set title = 'page.add.page_title' | trans({}, 'page') %}
    {% set titleH1 = 'page.add.page_title_h1' | trans({}, 'page') %}
    {% set description = 'page.add.description' | trans({}, 'page') %}
{% else %}
    {% set title = 'page.update.page_title' | trans({'id' : id}, 'page') %}
    {% set titleH1 = 'page.update.page_title_h1' | trans({}, 'page') %}
    {% set description = 'page.update.description' | trans({}, 'page') %}
{% endif %}

 {% block title %}
     {{ title }}
 {% endblock %}

{% block body %}

    {{ breadcrumb(breadcrumb) }}

    <h1 class="head-title">
        <svg class="w-7 h-7 text-(--primary)" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 18h8l-2-4-1.5 2-2-4L8 18Zm7-8.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" clip-rule="evenodd"></path>
        </svg>{{ titleH1 }}</h1>

    <p class="text-sm" style="color: var(--text-secondary);">
        {{ description }}
    </p>

    <div {{ vue_component('Admin/Content/Page/Page', {
        'id' : id,
        'urls' : urls,
        'translate' : translate,
        'locales' : locales,
        'page_datas' : datas
    }) }}>
    </div>

{% endblock %}