{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'info.page.title' | trans({}, 'info') }}{% endblock %}

{% block body %}
    <h1>{{ 'info.page.title.h1' | trans({}, 'info') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>{{ 'info.description' | trans({}, 'info') }}</p>

    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="bi bi-server"></i> {{ 'info.serveur.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.server.software.version' | trans({}, 'info') }} : {{ tabInfo.serveur.server_software_version }} <br />
                    {{ 'info.php.version' | trans({}, 'info') }} : {{ tabInfo.serveur.php_version }}
                    (<a href="{{ path('admin_info_phpinfo') }}" target="_blank">{{ 'info.php.version.moreinfo' | trans({}, 'info') }} <i class="bi bi-box-arrow-in-up-right"></i>
                    </a>) <br />
                    {{ 'info.memory.limit' | trans({}, 'info') }} : {{ tabInfo.serveur.memory_limit }} <br />
                    {{ 'info.upload.max.file' | trans({}, 'info') }} : {{ tabInfo.serveur.upload_max_file_size }} <br />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="bi bi-info-circle-fill"></i> {{ 'info.cms.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.website.version' | trans({}, 'info') }} : {{ tabInfo.website.website_version }} <br />
                    {{ 'info.website.url' | trans({}, 'info') }} : {{ tabInfo.website.website_url }} <br />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-database-fill"></i> {{ 'info.database.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.database.type' | trans({}, 'info') }} : {{ tabInfo.database.database_type | raw }} <br />
                    {{ 'info.database.server' | trans({}, 'info') }} : {{ tabInfo.database.database_server | raw }} <br />
                    {{ 'info.database.user' | trans({}, 'info') }} : {{ tabInfo.database.database_user | raw }} <br />
                    {{ 'info.database.name' | trans({}, 'info') }} : {{ tabInfo.database.database_name | raw }} <br />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-database-fill"></i> {{ 'info.info.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.navigateur.info' | trans({}, 'info') }} : {{ tabInfo.navigateur.navigateur_info | raw }} <br />
                </div>
            </div>
        </div>
    </div>


{% endblock %}
