{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'info.page.title' | trans({}, 'info') }}{% endblock %}

{% block body %}

    {{ breadcrumb(breadcrumb) }}

    <h1 class="head-title">
        <svg class="w-7 h-7 text-[var(--primary)]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
        </svg>
        {{ 'info.page.title.h1' | trans({}, 'info') }}</h1>

    <p class="text-sm text-[var(--text-secondary)] mb-3">{{ 'info.description' | trans({}, 'info') }}</p>

    <div class="flex flex-col gap-4">
        <div class="card rounded-lg p-6 mb-4 mt-4">
            <div class="border-b-1 border-b-[var(--border-color)] mb-3">
                <h2 class="flex gap-2 text-lg font-bold text-[var(--text-primary)] mb-3">
                    <svg
                        class="icon-lg"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01"
                        />
                    </svg>

                    {{ 'info.serveur.title' | trans({}, 'info') }}
                </h2>
            </div>

            <div class="space-y-3">
                <div class="flex flex-col sm:flex-row sm:items-center py-3 border-b border-b-[var(--border-color)]">
                    <span class="text-sm font-semibold mb-1 sm:mb-0 sm:w-48 text-[var(--text-secondary)]">
                         {{ 'info.server.software.version' | trans({}, 'info') }}
                    </span>
                    <span class="text-sm font-mono text-[var(--text-primary)]">
                        {{ tabInfo.serveur.server_software_version }}
                    </span>
                </div>
                <div class="flex flex-col sm:flex-row sm:items-center py-3 border-b border-b-[var(--border-color)]">
                    <span class="text-sm font-semibold mb-1 sm:mb-0 sm:w-48 text-[var(--text-secondary)]">
                        {{ 'info.php.version' | trans({}, 'info') }}
                    </span>
                    <span class="text-sm">
                        <a href="{{ path('admin_info_phpinfo') }}"
                           target="_blank"
                           class="text-sm hover:underline ml-1 text-[var(--primary)]"> {{ tabInfo.serveur.php_version }}</a>
                    </span>
                </div>

                <div class="flex flex-col sm:flex-row sm:items-center py-3 border-b border-b-[var(--border-color)]">
                    <span class="text-sm font-semibold mb-1 sm:mb-0 sm:w-48 text-[var(--text-secondary)]">
                         {{ 'info.memory.limit' | trans({}, 'info') }}
                    </span>
                    <span class="text-sm text-[var(--text-primary)]">
                        {{ tabInfo.serveur.memory_limit }}
                    </span>
                </div>

                <div class="flex flex-col sm:flex-row sm:items-center py-3">
                    <span class="text-sm font-semibold mb-1 sm:mb-0 sm:w-48 text-[var(--text-secondary)]">
                         {{ 'info.upload.max.file' | trans({}, 'info') }}
                    </span>
                    <span class="text-sm text-[var(--text-primary)]">
                        {{ tabInfo.serveur.upload_max_file_size }} -
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="bi bi-server"></i> {{ 'info.serveur.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.server.software.version' | trans({}, 'info') }}
                    : {{ tabInfo.serveur.server_software_version }} <br />
                    {{ 'info.php.version' | trans({}, 'info') }} : {{ tabInfo.serveur.php_version }}
                    (<a href="{{ path('admin_info_phpinfo') }}"
                        target="_blank">{{ 'info.php.version.moreinfo' | trans({}, 'info') }} <i
                            class="bi bi-box-arrow-in-up-right"></i>
                    </a>) <br />
                    {{ 'info.memory.limit' | trans({}, 'info') }} : {{ tabInfo.serveur.memory_limit }} <br />
                    {{ 'info.upload.max.file' | trans({}, 'info') }} : {{ tabInfo.serveur.upload_max_file_size }} <br />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="bi bi-info-circle-fill"></i> {{ 'info.cms.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.website.version' | trans({}, 'info') }} : {{ tabInfo.website.website_version }} <br />
                    {{ 'info.website.url' | trans({}, 'info') }} : {{ tabInfo.website.website_url }} <br />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-database-fill"></i> {{ 'info.database.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.database.type' | trans({}, 'info') }} : {{ tabInfo.database.database_type | raw }} <br />
                    {{ 'info.database.server' | trans({}, 'info') }} : {{ tabInfo.database.database_server | raw }}
                    <br />
                    {{ 'info.database.user' | trans({}, 'info') }} : {{ tabInfo.database.database_user | raw }} <br />
                    {{ 'info.database.name' | trans({}, 'info') }} : {{ tabInfo.database.database_name | raw }} <br />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-database-fill"></i> {{ 'info.info.title' | trans({}, 'info') }}
                </div>
                <div class="card-body">
                    {{ 'info.navigateur.info' | trans({}, 'info') }} : {{ tabInfo.navigateur.navigateur_info | raw }}
                    <br />
                </div>
            </div>
        </div>
    </div>


{% endblock %}
