{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'user.page_add_title' | trans({}, 'user') }}{% endblock %}

{% block body %}
    <h1>{{ 'user.page_add_title_h1' | trans({}, 'user') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>
        {{ 'user.page_add.description' | trans({}, 'user') }} <br/>
    </p>

    <div class="row">
        <div class="col-6">
             {{ form_start(form) }}
            <div class="card border border-secondary">
                <div class="card-header text-bg-secondary">
                    {{ 'user.page_add.profil' | trans({}, 'user') }}
                </div>
                <div class="card-body">

                    {{ form_row(form.email) }}
                    {{ form_row(form.roles) }}

                    <fieldset>
                        <legend> {{ 'user.page_add.personal_data' | trans({}, 'user') }}</legend>

                        <p>
                            <i class="bi bi-info-circle-fill"></i> {{ 'user.page_add.personal_data.description' | trans({}, 'user') }}
                        </p>

                        {{ form(form) }}
                    </fieldset>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-6">
            <div class="card border border-secondary">
                <div class="card-header text-bg-secondary">
                    {{ 'user.page_add.information' | trans({}, 'user') }}
                </div>
                <div class="card-body">

                    <p>
                        <i class="bi bi-info-circle-fill"></i> {{ 'user.page_add.information.role.info' | trans({}, 'user') }}
                    </p>

                    {{ 'user.page_add.information.liste_role' | trans({}, 'user') }}
                    <ul>
                        <li><b>{{ 'user.page_add.information.role.user' | trans({}, 'user') }}</b> : {{ 'user.page_add.information.role.user.info' | trans({}, 'user') }}</li>
                        <li><b>{{ 'user.page_add.information.role.contributeur' | trans({}, 'user') }}</b> : {{ 'user.page_add.information.role.contributeur.info' | trans({}, 'user') }}</li>
                        <li><b>{{ 'user.page_add.information.role.admin' | trans({}, 'user') }}</b> : {{ 'user.page_add.information.role.admin.info' | trans({}, 'user') }}</li>
                        <li><b>{{ 'user.page_add.information.role.super_admin' | trans({}, 'user') }}</b> : {{ 'user.page_add.information.role.super_admin.info' | trans({}, 'user') }}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock %}