{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'translate.page_title' | trans({}, 'translate') }}{% endblock %}

{% block body %}
    <h1>{{ 'translate.page_title_h1' | trans({}, 'translate') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>{{ 'translate.description' | trans({}, 'translate') }}</p>

    <div {{ vue_component('Admin/Translate', {'url_langue' : path('admin_translation_list_languages'),
        'url_translate_file' : path('admin_translation_files_translate')}) }}></div>

{% endblock %}
