{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'comment.index.page_title' | trans({}, 'comment') }}{% endblock %}

{% block body %}
    <h1>{{ 'comment.index.page_title_h1' | trans({}, 'comment') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <button type="button" class="btn btn-secondary float-end ms-2" data-bs-toggle="modal" data-bs-target="#help-grid-comment">
        <i class="bi bi-question-circle"></i>
    </button>

    <p>
        {{ 'comment.index.description' | trans({}, 'comment') }} <br/>
        {#  {{ 'tag.index.description2' | trans({'icon' : '<i class="bi-eye-slash-fill"></i>'}, 'tag') | raw }} #}<br/>
    </p>


    <div {{ vue_component('Admin/GenericGrid', {'url' : path('admin_comment_load_grid_data',  {'page' : page, 'limit' : limit}), 'page' : page, 'limit' : limit, 'activeSearchData' : true, 'showFilter' : true}) }}></div>

    <twig:Admin:ModaleComponent id="help-grid-comment" bgColor="bg-secondary">
        <twig:block name="header">
            <i class="bi bi-question-circle"></i> {{ 'comment.index.popin.help.title' | trans({}, 'comment') }}
        </twig:block>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm mb-1"><i class="bi bi-eye-slash-fill"></i></button> {{ 'comment.index.popin.help.disabled' | trans({}, 'comment') }}
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm mb-1"><i class="bi bi bi-eye-fill"></i></button> {{ 'comment.index.popin.help.enable' | trans({}, 'comment') }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm mb-1"><i class="bi bi bi-pencil-fill"></i></button> {{ 'comment.index.popin.help.edit' | trans({}, 'comment') }}
            </div>
        </div>
    </twig:Admin:ModaleComponent>

{% endblock %}