{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'log.page_title' | trans({}, 'log') }}{% endblock %}

{% block body %}

    {{ breadcrumb(breadcrumb) }}

    <h1 class="head-title">
        <svg class="w-7 h-7 text-[var(--primary)]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"></path>
        </svg>
        {{ 'log.page_title_h1' | trans({}, 'log') }}</h1>

    <p class="text-sm text-[var(--text-secondary)] mb-3">
        {{ 'log.description' | trans({}, 'log') }}
    </p>


    <div {{ vue_component('Admin/System/Log', {
        'url_select' : path('admin_log_ajax_data_select_log'),
        'url_load_log_file' : path('admin_log_ajax_load_log_file_empty'),
        'url_delete_file' : path('admin_log_ajax_delete_file'),
        'url_download_file': path('admin_log_download_log'),
        'page' : 1, 'limit' : limit}) }}></div>

{% endblock %}
