{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'notification.page_title' | trans({}, 'notification') }}{% endblock %}

{% block body %}
    <h1>{{ 'notification.page_title_h1' | trans({}, 'notification') }} </h1>

    {{ breadcrumb(breadcrumb) }}

    <p>
        <i class="bi bi-bell-fill"></i> {{ 'notification.description' | trans({'mouse' : '<i class="bi bi-mouse2-fill"></i>'}, 'notification') | raw }} <br />
        <i class="bi bi-info-circle-fill"></i>  {{ 'notification.purge.info' | trans({'nb_day' : nbDay}, 'notification') | raw }}
    </p>

    <div id="notifications">
        <div {{ vue_component('Admin/Notification/NotificationList', {
            'url' : path('admin_notification_list'), 'page' : page, 'limit' : limit,
            'urlPurge' : path('admin_notification_purge')
        }) }}></div>
    </div>

{% endblock %}

