<nav id="adm-navbar" class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i id="icon-toggle-sidebar" class="bi bi-chevron-double-left"></i>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <!-- ml-auto still works just fine-->
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" href="#">
                    <i class="bi-h bi-house-fill-h"></i>
                    <span class="d-none-mini"> {{ 'global.dashboard' | trans({}, 'global') }}</span>
                </a>
                <a class="nav-link" href="#">
                    <i class="bi-h bi-bell-fill-h position-relative">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">9+</span>
                    </i>
                        <span class="d-none-mini"> {{ 'global.alertes' | trans({}, 'global') }}</span>
                </a>
                <a class="nav-link" href="{{ path('admin_user_my_account') }}">
                    <i class="bi-h bi-person-fill-h"></i>
                    <span class="d-none-mini"> {{ 'global.profil' | trans({}, 'global') }}</span>
                </a>
                <a class="nav-link" href="{{ path('admin_user_my_option') }}">
                    <i class="bi-h bi-gear-fill-h"></i>
                    <span class="d-none-mini"> {{ 'global.user.option' | trans({}, 'global') }}</span>
                </a>
                <a class="nav-link" href="{{ path('auth_logout') }}">
                    <i class="bi-h bi-door-fill-h"></i>
                    <span class="d-none-mini"> {{ 'global.logout' | trans({}, 'global') }}</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<script>

    let IconElement = document.getElementById('icon-toggle-sidebar');
    let iconRightClass = 'bi-chevron-double-right';
    let IconLeftClass = 'bi-chevron-double-left';
    document.addEventListener("DOMContentLoaded", () => {
        let sidebarCollapse = document.getElementById('sidebarCollapse');
        sidebarCollapse.onclick = function () {
            if (IconElement.classList.contains(iconRightClass)) {
                IconElement.classList.remove(iconRightClass);
                IconElement.classList.add(IconLeftClass);
            } else {
                IconElement.classList.remove(IconLeftClass);
                IconElement.classList.add(iconRightClass);
            }
            document.getElementById('sidebar').classList.toggle('active');
            return false;
        };
    });
</script>