{% extends 'admin/admin_base.html.twig' %}

{% block title %}Elements HTML disponibles{% endblock %}

{% block body %}

    {{ breadcrumb(breadcrumb) }}

    <h1 class="head-title">
        <svg class="w-7 h-7 text-[var(--primary)]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.041 13.862A4.999 4.999 0 0 1 17 17.831V21M7 3v3.169a5 5 0 0 0 1.891 3.916M17 3v3.169a5 5 0 0 1-2.428 4.288l-5.144 3.086A5 5 0 0 0 7 17.831V21M7 5h10M7.399 8h9.252M8 16h8.652M7 19h10"></path>
        </svg>
        {{ 'demo_overwrite.page_title_h1' | trans({}, 'demo_overwrite') }}</h1>

    <p class="text-sm text-[var(--text-secondary)] mb-3">
        {{ 'demo_overwrite.description' | trans({}, 'demo_overwrite') }}
    </p>

    <h2 class="text-3xl font-semibold mt-3 mb-3 pb-3 border-b-2 border-b-[var(--border-color)] text-[var(--primary)]"> {{ 'demo_overwrite.guide.introduction.title' | trans({}, 'demo_overwrite') }}</h2>

    <p class="text-[var(--text-secondary)] text-base text-wrap mb-3"> {{ 'demo_overwrite.guide.introduction.text-1' | trans({}, 'demo_overwrite') | raw }}</p>

    <h3 class="text-xl font-medium mb-3"> {{ 'demo_overwrite.guide.introduction.sub-title-1' | trans({}, 'demo_overwrite') | raw }}</h3>

    <p class="text-[var(--text-secondary)] text-base text-wrap mb-3"> {{ 'demo_overwrite.guide.introduction.text-2' | trans({
            'controller' : '<code>App\\Controller\\Admin\\DashboardController::pageDemo</code>',
            'vue' : '<code>templates/admin/dashboard/page_demo.html.twig</code>',
            'controller2' : '<code>App\\Overwrite\\Controller\\Admin\\Tools\\DemoOverwriteController::pageDemo</code>',
            'vue2' : '<code>templates/overwrite/admin/tools/page_demo.html.twig</code>'
        }, 'demo_overwrite') | raw }}</p>
    <p class="text-[var(--text-secondary)] text-base text-wrap mb-3"> {{ 'demo_overwrite.guide.introduction.text-3' | trans({
            'url' : '<code>/admin/fr/dashboard/page-demo</code>',
            'url2' : '<code>/admin/fr/overwrite/action-surcharge/5</code>'
        }, 'demo_overwrite') | raw }}</p>

    <p class="text-[var(--text-secondary)] text-base text-wrap mb-3"> {{ 'demo_overwrite.guide.introduction.text-4' | trans({
            'url' : path('admin_dashboard_page_demo'),
            'url2' : path('admin_overwrite_page_demo', {'id' : 100})
        }, 'demo_overwrite') | raw }}</p>


    <h2 class="text-3xl font-semibold mt-3 mb-3 pb-3 border-b-2 border-b-[var(--border-color)] text-[var(--primary)]"> {{ 'demo_overwrite.guide.presrequis.title' | trans({}, 'demo_overwrite') }}</h2>
    <p class="text-[var(--text-secondary)] text-base text-wrap mb-3">
        {{ 'demo_overwrite.guide.presrequis.text-1' | trans({}, 'demo_overwrite') }}
    </p>
    <ul>
        <li>
            {{ 'demo_overwrite.guide.presrequis.requis-1' | trans({}, 'demo_overwrite') }}
        </li>
    </ul>


    <div class="code-block">
        <div class="code-header">
            <span class="code-filename">config/cms/overwrite.yaml</span>
            <span class="code-lang">YAML</span>
        </div>
        <pre><code># Ce fichier permet de définir la surcharge d'un controller par un autre

overwrite:
    - controller: App\Controller\Admin\DashboardController
      route: admin_dashboard_page_demo
      overwrite:
          route: admin_overwrite_page_demo
          parameters:
              param: id

            </code></pre>
    </div>

    <p>Retrouver sur cette page l'ensemble des éléments HTML disponible sur le site - méthode overwride id : {{ id }}</p>

{% endblock %}