{% extends 'admin/admin_base.html.twig' %}


{% if id is same as null %}
    {% set title = 'menu.add.menu_title' | trans({}, 'menu') %}
    {% set titleH1 = 'menu.add.menu_title_h1' | trans({}, 'menu') %}
    {% set description = 'menu.add.description' | trans({}, 'menu') %}
{% else %}
    {% set title = 'menu.update.menu_title' | trans({'id' : id}, 'menu') %}
    {% set titleH1 = 'menu.update.menu_title_h1' | trans({}, 'menu') %}
    {% set description = 'menu.update.description' | trans({}, 'menu') %}
{% endif %}

 {% block title %}
     {{ title }}
 {% endblock %}

{% block body %}

    {{ breadcrumb(breadcrumb) }}

    <h1 class="head-title">
        <svg class="w-7 h-7 text-(--primary)" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M11 16.5a5.5 5.5 0 1 1 11 0 5.5 5.5 0 0 1-11 0Zm4.5 2.5v-1.5H14v-2h1.5V14h2v1.5H19v2h-1.5V19h-2Z" clip-rule="evenodd"></path>
            <path d="M3.987 4A2 2 0 0 0 2 6v9a2 2 0 0 0 2 2h5v-2H4v-5h16V6a2 2 0 0 0-2-2H3.987Z"></path>
            <path fill-rule="evenodd" d="M5 12a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Z" clip-rule="evenodd"></path>
        </svg>{{ titleH1 }}</h1>

    <p class="text-sm" style="color: var(--text-secondary);">
        {{ description }}
    </p>

    <div {{ vue_component('Admin/Content/Menu/Menu', {
        'id' : id,
        'urls' : urls,
        'translate' : translate,
        'locales' : locales,
        'menu_datas' : datas
    }) }}>
    </div>

{% endblock %}