{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'global_search.index.page_title_h1' | trans({}, 'global_search') }}{% endblock %}

{% block body %}

    <h1 class="mb-3">{{ 'global_search.index.page_title_h1' | trans({}, 'global_search') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <p>{{ 'global_search.index.page.description' | trans({}, 'global_search') }}</p>

    <div {{ vue_component('Admin/Global/GlobalSearch', {
        'urls' : urls,
        'translate' : translate,
        'search' : search,
        'limit' : limit ,
        'page' : page
    }) }}>
    </div>
{% endblock %}
