{% extends 'admin/auth_base.html.twig' %}

{% block title %}{{ 'user.reset_password.title' | trans({}, 'user') }}{% endblock %}

{% block body %}

    <section id="auth-form" class="bg-gray-50 dark:bg-gray-900">

        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow-sm dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">

                <div class="logo-container text-center mt-8">
                    <div class="logo">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 20v-9l-4 1.125V20h4Zm0 0h8m-8 0V6.66667M16 20v-9l4 1.125V20h-4Zm0 0V6.66667M18 8l-6-4-6 4m5 1h2m-2 3h2"/>
                        </svg>
                    </div>
                    <h1 style="font-size: 1.875rem; font-weight: 700; color: var(--text-primary); margin-bottom: 0.5rem;"> {{ get_option_system_value_by_key(constant('App\\Utils\\System\\Options\\OptionSystemKey::OS_SITE_NAME'))}}</h1>
                    <p style="color: var(--text-secondary); font-size: 0.875rem;">
                        {% if new %}
                            {{ 'user.change_password.new_title' | trans({}, 'user') }}
                        {% else %}
                            {{ 'user.change_password.title' | trans({}, 'user') }}
                        {% endif %}
                    </p>
                </div>

                <div class="p-4 space-y-4 md:space-y-6 sm:p-8">

                    <form class="space-y-4 md:space-y-6" method="POST">

                        <div {{ vue_component('Admin/System/User/ChangePassword', {'url_change_password' : path('auth_change_password_update_user', {'id' : user.id}),
                            'translate' : changePasswordTranslate}) }}></div>

                        <div class="flex items-center justify-between">

                            <a href="{{ path('auth_user_login') }}" class="text-sm link"> {{ 'user.change_password.link_login' | trans({}, 'user') }}</a>
                            <a href="{{ path('front_no_local') }}" class="text-sm link"> {{ 'user.change_password.link_home' | trans({}, 'user') }}</a>
                        </div>
                    </form>
                </div>
            </div>
            <p class="text-center text-sm mt-6" style="color: var(--text-secondary);">
                {{ 'global.licence'|trans({'year': 'now' | date('Y')}, 'global') | raw }}
            </p>
        </div>
    </section>

{% endblock %}