{% extends 'admin/auth_base.html.twig' %}

{% block title %}{{ 'user.reset_password.title' | trans({}, 'user') }}{% endblock %}

{% block body %}

    Reset mot de passe


    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-9 col-sm-12">
                    <div class="text-center my-5 mb-3"><h1>
                            <i class="bi {{ get_option_system_value_by_key(constant('App\\Utils\\Options\\OptionSystemKey::OS_LOGO_SITE'))}}"></i>
                            {{ get_option_system_value_by_key(constant('App\\Utils\\Options\\OptionSystemKey::OS_SITE_NAME'))}}
                        </h1>
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">{{ 'user.login_user.title' | trans({}, 'user') }}</h1>

                            <div {{ vue_component('Admin/User/ChangePassword', {'url_change_password' : path('admin_user_change_my_password'),
                                'translate' : changePasswordTranslate}) }}></div>
                        </div>
                        <div class="card-footer py-3 border-0">
                            <div class="text-center">
                                <figure>
                                    <blockquote class="blockquote" style="font-size: 1.3em">
                                        <p><small>À vaincre sans péril, on triomphe sans gloire.</small></p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Pierre corneille <cite title="Le Cid, p.207">Le cid</cite>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5 text-muted">
                        {{ 'global.licence'|trans({'year': 'now' | date('Y')}, 'global') | raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}