{% extends 'admin/auth_base.html.twig' %}

{% block title %}{{ 'user.login_user.title' | trans({}, 'user') }}{% endblock %}

{% block body %}

    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="text-center my-5 mb-3"><h1>
                            <i class="bi {{ get_option_system_value_by_key(constant('App\\Utils\\Options\\OptionSystemKey::OS_LOGO_SITE')) }}"></i>
                            {{ get_option_system_value_by_key(constant('App\\Utils\\Options\\OptionSystemKey::OS_SITE_NAME')) }}
                        </h1>
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">{{ 'user.reset_password.title' | trans({}, 'user') }}</h1>

                            {% if msg is same as("") %}
                                <form method="post">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">{{ 'user.reset_password.email.label' | trans({}, 'user') }}</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'user.reset_password.email.placeholder' | trans({}, 'user') }}">
                                        <div id="email-help" class="form-text">
                                            {{ 'user.reset_password.email.help' | trans({}, 'user') }}
                                        </div>
                                    </div>

                                    <button class="btn btn-primary" type="submit">{{ 'user.reset_password.submit' | trans({}, 'user') }}</button>
                                </form>
                            {% else %}

                                <hr/>
                                <p><span class="text-success"><b><span class="bi bi-check-circle-fill"></span> {{ msg }}</b></span>
                                </p>
                            {% endif %}

                            <p class="mt-3 mb-0 text-center">
                                <a href="{{ path('auth_user_login') }}">{{ 'user.change_password.link_login' | trans({}, 'user') }}</a> |
                                <a href="{{ path('index_index') }}">{{ 'user.change_password.link_home' | trans({}, 'user') }}</a>
                            </p>

                        </div>
                        <div class="card-footer py-3 border-0">
                            <div class="text-center">
                                <figure>
                                    <blockquote class="blockquote" style="font-size: 1.3em">
                                        <p><small>
                                                {{ 'global.citation' | trans({}, 'global') }}</small></p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        {{ 'global.citation.auteur' | trans({}, 'global') | raw }}
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5 text-muted">
                        {{ 'global.licence'|trans({'year': 'now' | date('Y')}, 'global') | raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
